- if @note
	%p Are you sure you want to delete this note?
	%form{action: "/#{@note.id}", method: "post", role: "form"}
		%input{type: "hidden", name: "_method", value: "delete"}
		%input.btn.btn-danger.btn-large{type: "submit", value: "Use my IRON fist to delete this note"}
		%a.btn.btn-default.btn-large{href: "/#{@note.id}"} Cancel
	%article
		.jumbotron
			:markdown
				#{@note.content}
- else
	%p Note not found, gurl.
